@import '../../../_colors';

.HeroDetails {
    width: 100%;
    min-height: 100vh;
    background-color: $color2;
}

.HeroDetails__Transition {
    width: 100%;
    min-height: inherit;
    padding: 4vh 5vw;
    background-color: $color2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HeroDetails__ul {
    padding: 2vh 3vw;
    align-self: flex-start;
}

.HeroDetails__li {
    font-size: 1.5vw;
    padding: 2vh 1vw;
    color: $color3;
    letter-spacing: 0.1vw;
}

.HeroDetails__icon {
    color: $color3;
    font-size: 4vw;
}

@media (max-width: 900px) {
    .HeroDetails__li {
        font-size: 2vw;
    }
    .HeroDetails__icon {
        font-size: 4.5vw;
    }
}

@media (max-width: 800px) {
    .HeroDetails__li {
        font-size: 2.5vw;
    }
    .HeroDetails__icon {
        font-size: 5vw;
    }
}

@media (max-width: 600px) {
    .HeroDetails__li {
        font-size: 3vw;
    }
    .HeroDetails__icon {
        font-size: 5.5vw;
    }
}

@media (max-width: 500px) {
    .HeroDetails__li {
        font-size: 4vw;
    }
    .HeroDetails__icon {
        font-size: 7vw;
    }
}

@media (max-width: 400px) {
    .HeroDetails__li {
        font-size: 5vw;
    }
    .HeroDetails__icon {
        font-size: 9vw;
    }
}

@media (max-width: 400px) {
    .HeroDetails__li {
        font-size: 6vw;
    }
    .HeroDetails__icon {
        font-size: 10vw;
    }
}