@import '../../../../_colors';

.Link {
    margin: 0 1vw;
    background: $color1;
    padding: 1vh 1vw;
    border-radius: 0.2vh;
    box-shadow: 0 0 0.5vw 0 $color4;
    transition: transform 200ms ease-out, color 100ms ease-out, background 100ms ease-out;
    text-decoration: none;
    color: $color4;
    font-size: 1.5vw;
    font-weight: bold;
}

.Link:hover {
    color: $color1;
    background: $color3;
    transform: scale(1.1);
}

.Link--active {
    color: $color1;
    background: $color3;
}