@import '../../_colors';

.Error__errorIcon {
    margin-top: 5vh;
    font-size: 6vw;
    color: $color1;
}

.Error__h2 {
    font-size: 2vw;
    text-align: center;
    background-color: $color4;
    padding: 1vh 1vw;
    color: $color3;
    margin: 2vh;
}