@import '../../_colors';

.Modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: transparent;
    display: flex;
    justify-content: center;
    padding: 10vh;
}

.Modal__msg {
    padding: 2vh 3vw;
    background-color: $color4;
    box-shadow: 0 0 1vw 0 $color4;
    border-radius: 0.5vh;
    font-size: 2vw;
    color: $color3;
    letter-spacing: 0.1vw;
}

@media (max-width: 900px) {
    .Modal__msg {
        font-size: 2.5vw;
    }
}

@media (max-width: 800px) {
    .Modal__msg {
        font-size: 3vw;
    }
}

@media (max-width: 600px) {
    .Modal__msg {
        font-size: 4vw;
    }
}

@media (max-width: 450px) {
    .Modal__msg {
        font-size: 5vw;
    }
}