@import '../../../_colors';

.HeroIntro__Spring {
    width: 100%;
}

.HeroIntro__header {
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.HeroIntro__h1 {
    padding: 3vh;
    letter-spacing: 0.1vw;
    background: $color4;
    text-align: center;
    box-shadow: 0 0 1vw 0 $color4;
    color: $color1;
}

@media (max-width: 1000px) {
    .HeroIntro__h1 {
        font-size: 3vw;
    }
}

@media (max-width: 800px) {
    .HeroIntro__h1 {
        font-size: 3.5vw;
    }
}

@media (max-width: 650px) {
    .HeroIntro__h1 {
        font-size: 4vw;
    }
}

@media (max-width: 500px) {
    .HeroIntro__h1 {
        font-size: 5vw;
    }
}