@import '../../_colors';

.Heroes {
    width: 100%;
    min-height: 88vh;
    background-image: url('https://s5.gifyu.com/images/crew.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: $color4;
    filter: grayscale(10%);
}