@import '../../../_colors';

.HeroesPanel {
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HeroesPanel__div {
    align-items: flex-start;
    width: inherit;
    display: flex;
    justify-content: space-around;
    padding: 10vh;
}

.HeroesPanel__errorIcon {
    margin-top: 5vh;
    font-size: 6vw;
    color: $color1;
}

.HeroesPanel__h2 {
    font-size: 2vw;
    text-align: center;
    color: $color4;
    margin: 2vh;
}