@import '../../../_colors';

.HeroesPanel {
    width: 100%;
    min-height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HeroesPanel__div {
    align-items: flex-start;
    width: inherit;
    display: flex;
    justify-content: space-around;
    padding: 10vh;
}

@media (max-width: 800px) {
    .HeroesPanel__div {
        flex-direction: column;
        padding: 5vh 10vh;
        align-items: center;
    }
}